* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0%, 90%);
}

.master-container {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.grid-container {
  margin: 0 auto;
  height: 80vh;
  width: 80vw;
  display: grid;
}

.grid-item {
  background-color: hsl(0, 0%, 100%);
}

h1 {
  margin: 1vh auto;
  margin-top: 0;
  font-family: arial, sans-serif;
  font-size: 35px;
}

.options {
  margin: 1vh auto;
  margin-bottom: 0;
  display: flex;
}

button {
  margin-left: 1vw;
  width: 8vw;
}